<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
    <div id="selectMenu">
        <div class="siimple-h6">シリアルポートをえらぶ</div>
        <select class="siimple-select" v-model="selected">
            <option v-for="option in options" v-bind:value="option.value"> {{ option.text }} </option>
        </select>
        <div class="selectButtons">
            <div v-if="options.length != 0">
                <div v-if="selectedChecker == false">
                    <button v-on:click="select" class="siimple-btn siimple-btn--orange">えらぶ</button>
                    <button v-on:click="refrash" class="siimple-btn siimple-btn--orange" >こうしん</button>
                </div>
                <div v-else>
                    <button class="siimple-btn siimple-btn--disabled">えらぶ</button>
                    <button v-on:click="refrash" class="siimple-btn siimple-btn--orange" >こうしん</button>
                </div>
            </div>
            <div v-else>
                <button class="siimple-btn siimple-btn--disabled">えらぶ</button>
                <button class="siimple-btn siimple-btn--disabled">こうしん</button>
            </div>
        </div>
        <div class="status">{{ message }}</div>
    </div>
    <link rel="stylesheet" href="index.css">
    <script src="renderer.js"></script>
</body>
</html>
